.git {
    max-width: 7%;
    height: auto;
}

.diagram {
    max-width: 70%;
    height: auto;
}

h3 {
    color: teal;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    font-family: 'Bangers', cursive;
    font-weight: 600;
    font-size: 1.825rem;
    margin: 1.3rem 0;
}

li {
    color: white;
    list-style: none;
}

h2 {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    color: rgb(195, 92, 221);
}

h4 {
    text-align: center;
    padding: 30px;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    color: rgb(195, 92, 221);
}




section {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Bangers|Righteous&display=swap');


 